@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

body {
    font-family: "Exo 2" !important;
}
a:hover {
    text-decoration: none;
}
.error-field {
    color: #c9402f;
    margin-top: 20px;
}
form .login-register-link {
    margin-top: 10px;
}
.logout-link {
    margin: 12px;
    display: flex;
}
.underline {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.footer {
    background-color: #e9ecef;
}
.main {
    min-height: calc(100vh - 134px);
}
.main-field-row {
    margin-left: 0;
    margin-right: 0;
}
.flat-select {
    height: 40px;
    min-width: 100px;
    padding: 10px;
    border-radius: 0;
    border: none;
    background-color: #e2e3e5;
}
.csv-input {
    padding: 10px;
    display: block;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chart > div {
    height: 500px;
}
.chart img {
  height: 100%;
}
.render-btn {
    margin-top: 32px;
}
.all-projects > div {
    }
.all-projects > div a.project {
    padding: 20px;
    display: block;
    border: 1px #e9ecef solid;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}
.all-projects > div a.project:hover {
    background-color: #e9ecef;
}
.all-projects > div a.delete {
    position: absolute;
    top: -10px;
    right: -6px;
    display: block;
    color: #fff;
    background-color: #dc3545;
    border-radius: 7px;
    padding: 0 5px;
    text-decoration: none;

}
.all-projects > div a.delete:hover {
    background-color: #960505;
}
.all-projects > div a.delete svg {
    width: 28px;
    height: 28px;
    padding: 5px;
}
.header .logo a {
    color: #000;
}
.base-stats p {
    width: 100%;
    margin: 0;
}
.addParam {
    font-size: 25px;
    font-weight: 900;
    padding: 0 10px;
    height: 40px;
}
.hyperParams {

  border-radius: 5px;
  min-height: 100px;
}
.hyperParams > p {
  width: 100%;
}
.hyperParams > .single-param {
  background-color: #e9ecef;
    width: max-content;
    float: left;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
.single-param .remove-param {
  position: absolute;
  top: -13px;
  font-size: 20px;
  right: -7px;
  font-weight: 900;
  color: #dc3545;
  text-decoration: none;
}
.single-param .remove-param:hover {
  color: #c82333;
}
.query-example p {
    font-size: 11px;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}
.single-model p {
    font-size: 14px;
    padding: 10px 0 10px 0px;
    margin-bottom: 0;
}
.single-model .col-md-4 p {
    background-color: #e9ecef;
    padding: 10px 5px;
    border-radius: 5px;
}
.single-model a:hover {
    text-decoration: none;
    color: #000;
}
.single-model > div {
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    padding: 5px 15px;
}
.single-model > div:first-child {
    border-left: 1px solid #e9ecef;
    border-radius: 5px 0 0 5px;
}
.single-model > div:nth-child(7) {
    border-right: 1px solid #e9ecef;
    border-radius: 0px 5px 5px 0px;
}
.single-model > div:last-child {
    border: none;
}
.single-model button {
    /* padding: 6px 30px; */
}
.metrics-modal {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
    right: 0;
}
.metrics-modal .row > div > .row {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}
.metrics-modal .row > div > .row p {
    display: block;
    float: left;
    margin-bottom: 0;
    padding: 10px;
}
.metrics-modal img {
    width: 100%;
}
.metrics-modal button {
    position: absolute;
    top: 0;
    right: 0;
}
.saved {
  margin-right: 10px;
  color: #28a744;
}
.not-saved {
  margin-right: 10px;
  color: #dc3546;
}
.btn-help {
    margin-top: 31px !important;
}
.methodHelp {
    z-index: 10;
    padding: 15px;
    background-color: #e2e3e5;
    border-radius: 5px;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
}
.sentMsg{
    position: absolute;
    top: 78px;
    left: -18px;
    width: 240px;
}
.blink {
    animation: blink-animation 1.5s ease-out infinite;
    -webkit-animation: blink-animation 1.5s ease-out infinite;
  }
@keyframes blink-animation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
      }
    100% {
      opacity: 0.4;
    }
}
.btn-failed {
    padding: 6px 15px !important;
}
a.disabled {
    pointer-events: none;
}
.single-model a:hover {
    color: #fff;
}
.csv-predict, .api-example  {
    margin-top: 32px;
}
.single-metric {
    display: block;
}
.project-link:hover {
    color: #000 !important;
}
.predict-result {
    display: flex;
    justify-content: space-around;
}
.mark {
    background-color: #e9ecef;
}
.btn-rm {
    font-weight: 900;
    font-size: 28px;
    padding: 0 13px;
}
.modal-scroll {
    overflow-y: scroll;
    height: 500px;
}
.model-tree {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 650px;
}
